 <table class="table" id="contacts">
             <% @contacts.each do |contact| %>
              <tr>
                <td class="middle">
                  <div class="media">
                    <div class="media-left">
                      <%= link_to contacts_path, ":data-target" => "#view-contact-modal", ":data-toggle" => "modal" do %>
                          <%= image_tag contact.contact_avatar.attached? ? contact.contact_avatar : "100x100.png", class: "media-object img-thumbnail img-rounded mr-3" %>
                      <% end %>
                    </div>
                    <div class="media-body mt-2">
                      <h4 class="media-heading"><a data-target="#view-contact-modal" data-toggle="modal" href="#"><%= contact.name %></a></h4>
                      <address>
                        <strong><i class="fa fa-map-marker"></i> <%= contact.city %>, <%= contact.state %>, <%= contact.country %>, <%= contact.zip %> </strong><br>
                        <i class="fa fa-envelope"></i> <%= contact.email %> | <i class="fa fa-mobile"></i> <%= contact.mobile %> | <i class="fa fa-phone"></i> <%= contact.phone %> 
                      </address>
                    </div>
                  </div>
                </td>
                <td class="middle" width="100">
                  <div class="mt-5">
                   
          
                    <%= link_to edit_contact_path(contact), class: "btn btn-outline-secondary btn-circle btn-xs", ":data-target" => "#edit-contact-modal", ":data-toggle" => "modal", remote: true do %>
                        <i class="fa fa-edit"></i>
                    <% end %>

                    <%= link_to contact_path(contact), class: "btn btn-outline-secondary btn-circle btn-xs", ":data-toggle" => "modal", ":data-target" => "#confirm-modal", remote: true do %>
                        <i class="fa fa-times"></i>
                     <% end %>
                  </div>
                </td>
              </tr>
            <% end %>
            </table>