
          <div class="card" id="category-nav"> 
            <div class="card-header">
              <b>Categories</b>
            </div>
            <div class="list-group">
              <% active = params[:category_id] == nil || params[:category_id].empty? ? 'active' : '' %>
              <%= link_to contacts_path, class: "list-group-item list-group-item-action d-flex justify-content-between align-items-center #{active}" do%>
                  All Contact <span class="badge badge-warning badge-pill"> <%= current_user.contacts.count %> </span>
              <% end %>
              
             <% current_user.categories.all.each do |category| %>
             <% active = params[:category_id].to_i == category.id ? 'active' : '' %>
              <%= link_to contacts_path(category_id: category.id), class: "list-group-item list-group-item-action d-flex justify-content-between align-items-center #{active}" do %>
                  <%= category.name %> <span class="badge badge-pill badge-warning"><%= category.contacts.count %></span> 
                <% end %>
              <% end %>
          
            </div>
          </div>
